<div class="container">
  <h3 style="color: #023059">Informajce</h3>
  <br>

  <div class="line_one" style="color: #023059; text-align: justify;">
    <div class="row">
      <div class="col" style="max-width: 560px">
        <p>20 lat na polskim rynku
          Firma jachtów Żegluj z nami Sp. z o.o. buduje w Polsce największą sieć wypożyczalni jachtów morskich oraz
          przybrzeżnych. Obecnie wynająć żaglówkę można w 8 miastach, są to m.in.: Mikołajki, Gdańsk, Sopot, Gdynia,
          Olsztyn, Szczecin
        </p>
      </div>
      <div class="col" style="max-width: 560px;margin-left: 50px;">
        <p>Najwyższa jakość
          Wypożyczalnia Firma jachtów Żegluj z nami Sp. z o.o. cechuje się wysoką jakością oferowanych żaglówek. Wszystkie
          nasze łodzie są nowe: najstarszy model ma 2 lata. Ze szczególną starannością dbamy o sprawność techniczną
          jachtów, dlatego stale przeprowadzamy przeglądy techniczne w autoryzowanych serwisach.
        </p>
      </div>
    </div>

    <div class="line_second" style="color: #023059; text-align: justify;">
      <div class="row">
        <div class="col" style="max-width: 560px;">
          <img alt="biuro" src="https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_960_720.jpg"
               style="max-width: 30vw; height: auto; border-radius: 10px">
        </div>
        <div class="col" style="max-width: 560px; margin-left: 50px;">

          <p>Dlaczego my?</p>
          <ul>
            <li>Posiadamy nowe jachty</li>
            <li>Zapewniamy atrakcyjne ceny</li>
            <li>Nasze łodzie są bezpieczne</li>
            <li>Jesteśmy dostępni w całej Polsce</li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</div>
