<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-sm">
        <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Kontakt</legend>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Imie</label>
              <div class="col-md-9 w-100">
                <input id="name" name="name" type="text" placeholder="Imie" class="form-control">
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Email</label>
              <div class="col-md-9 w-100">
                <input id="email" name="email" type="text" placeholder="Email" class="form-control">
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Wiadomość</label>
              <div class="col-md-9 w-100">
                <textarea class="form-control" id="message" name="message" placeholder="Wpisz treść wiadomości" rows="5"></textarea>
              </div>
            </div>

            <!-- Form actions -->

            <hr>

            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary w-100">Wyslij</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
