<section>
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <br>
          <p style="text-transform: uppercase">Żegluj z nami sp. z o.o.</p>
          <p>00-00 Warszawa</p>
          <p>ul. Warszawska 1 lok. 1</p>
          <br>
          <p>zeglujznami@email.com</p>
          <br>
          <p>tel: +48 123 456 789</p>

        </div>
        <div class="col">
          <br>
          <a routerLink="/about" style="color: #F0F0F0; text-decoration: none; font-weight:700">O nas</a>
          <br>
          <br>
          <a routerLink="/contact" style="color: #F0F0F0; text-decoration: none; font-weight:700">Kontakt</a>
          <br>
          <br>
          <a style="color: #F0F0F0; text-decoration: none; font-weight:700">Promocje</a>
        </div>
        <div class="col">
          <br>
          <h5>Masz pytanie?</h5>
          <p>Zostaw numer telefonu, nasz pracownik w ciągu 15 minut oddzowni do Ciebie</p>
          <br>
          <label>
            <input type="text" name="mail" id="sdsd" style="border-radius: 10px; margin-right: 10px">
            <a href="index.html" class="btn btn-outline-primary">Prześlij</a>
          </label>

        </div>
      </div>
      <hr>
    </div>
  </div>

  <footer>
    <p>wszystkie prawa zastrzeżone &copy;</p>
    <br>
  </footer>

</section>
